 body {
    background-color: #0e0d0dfd;
    min-height: 100vh;
    justify-content: center; 

}
.container {
    height: 745px;
    max-width: 393px;
    margin: 0 auto;
    background-image: url(bg1.jpeg);
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding-bottom: 20px;
    margin-top: 50px;
    color: azure;
}

 
.header {
    font-family: Allura;
    font-size: 24px;
    padding: 100px 0px;
    font-weight: bold;
    color: #eef1e7;
    animation: fadeIn 2s ease-in;
}

/*nama*/
.name {
    font-family: Allura;
    background-color:  #75757054;
    color: #fdf6f6;
    font-size: 24px;
    padding: 100px 0;
    margin: 20px;
    border-radius: 10px;
    animation: fadeIn 2s ease-in;
}
/*tamu undangan*/
.message {
    font-size: 16px;
    color: #f8e6e6;
    margin: 50px 0;
    animation: fadeIn 2s ease-in;
}

/*open*/
.open-button {
    background-color:  #61221e;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 25px;
    display: inline-block;
    font-size: 18px;
    margin-top: 20px;
    animation: fadeIn 2s ease-in;
}
.open-button:hover {
    background-color: #f09a80;
}

/*foto profil*/
.profile-container {
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}
.profile img {
  margin-left: 15px;
  height: 250px;
  width: 200px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
/*foto3*/
.photo-row {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  justify-content: center;
}

.photo-row img {
  flex: 1;
  border-radius: 8px;
  object-fit: cover;
  height: 180px;
}
/*foto gede*/
.photo-row img {
  flex: 1;
  border-radius: 8px;
  object-fit: cover;
  height: 180px;
}

.photo-main {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
}

.photo-main img {
  width: 100%;
  display: block;
  border-radius: 12px;
  object-fit: cover;
}

.photo-text {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15px;
  background: rgba(0,0,0,0.6);
  text-align: center;
}

.photo-text h2 {
  margin: 0;
  font-size: 1.2rem;
  font-weight: bold;
}

.photo-text p {
  margin: 5px 0 0;
  font-size: 0.9rem;
}

.quote p {
    font-size: 1rem;
    margin-bottom: 10px;
}

/* Countdown */
.countdown-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}
.countdown-box {
  background: rgb(243, 239, 239);
  border: 2px solid #945034;
  padding: 15px;
  border-radius: 10px;
  width: 35px;
}
.countdown-box span {
  font-size: 1.5em;
  color: #945034;
  text-align: center;
}

/*bok dresscode*/
.dresscode-box {
      background: #ffffffcc;
      border-radius: 12px;
      padding: 20px;
      width: 300px;
      text-align: center;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      border: 2px solid #e3b5aa;
      margin: 0 auto;
    }

    .dresscode-title {
      font-family: 'Dancing Script', cursive;
      font-size: 22px;
      font-weight: bold;
      color: #a7665c;
      margin-bottom: 8px;
    }

    .dresscode-text {
      font-size: 16px;
      font-weight: 500;
      color: #333;
    }

/*open map*/
.map-button {
    background-color: #61221e;
    color: white;
    padding: 15px 15px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.map-button:hover {
    background-color: #f09a80;
}

.acara {
    font-size: 1rem;
    margin-bottom: 10px;
}

@keyframes slideIn {
    from {
        transform: translateX(-100);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

/*galery foto*/
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
    margin-top: -111px;
}

.image-container {
    width: 48%;
    margin-bottom: 10px;
}

.image-container img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.image-container img:hover {
    transform: scale(1.05);
}
 
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: #f1ecec;
}

input, select, textarea {
  padding: 10px;
  border: 1px solid #dd7e7e;
  border-radius: 6px;
  font-size: 1em;
  background-color: #e2b4b48c;
}

button {
  background-color: #61221e;
  color: white;
  padding: 10px 15px;
  font-size: 1em;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
    background-color: #f09a80;
    }

hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #555;
}

.message1 {
  background: #c7b9b9;
  color: #000;
  padding: 12px;
  border-radius: 8px;
}

.message1-header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 5px;
}

.penutup {
    margin-right: 5%;
    margin-left: 5%;
    color: #555;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: -90px;
}
